

.App {
  text-align: center;
 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h1 {
  color: rgb(14, 13, 12);
}

.gifs {
  margin: 0, auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

button {
  padding: 0.3rem;
  margin: 10px;
  border: none;
  border-radius: 8px;
  background-color: rgb(179, 218, 218);
  color: antiquewhite;
}

input {
  padding: 10px;
  margin: 10px;
}

.search {
  display: flex;
  margin-left: 50%;
  margin-top: 5%;
}

ul {
  display: flex;
  flex-direction: column;
}

li {
  color: rgb(250, 243, 243);
  
}

.wrapper {
  background-color: rgb(160, 170, 170);
  padding: 20px;
  margin: 25%;
  border: 1px solid #bdd682;
  border-radius: 10px;
}
.wrapper .name {
  display: flex;
}

.giphy {
  font-size: 37px;
  color: aliceblue;
}

.wrapper .img {
  margin-top: 15px;
}

b {
  text-transform: capitalize;
  margin-left: 10px;
}